<launch>
    <node name="world_cam" pkg="usb_cam" type="usb_cam_node">
        <param name="video_device" type="string" value="/dev/video4 " />
        <param name="pixel_format" type="string" value="mjpeg" />
        <param name="image_width" type="int" value="1600" />
        <param name="image_height" type="int" value="904" />
        <param name="framerate" type="int" value="5" />
    </node>
</launch>
