Flask >= 1.1.2
Flask-SocketIO >= 5.0.1
scikit-build >= 0.11.1
opencv-python >= 4.5.1.48
pillow >= 8.1.2
pylint >= 2.6.0
pytest >= 6.2.2
pytest-cov >= 2.11.1
pytest_mock >= 3.5.1
pyyaml >= 5.4.1
rospkg >= 1.2.10
